/* ПОЗИЦИЯ МЕНЮ */
.menu-main_text {
  list-style: none;
  text-align: center;
}

.menu-main_text li {
  display: inline-block;
  padding: 5px 0;
  flex: 1 0 0 0 0;
  align-items: center;
}

.menu-main_text a {
  text-decoration: none;
  display: inline-block;
  padding: 6px 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #777777;
}

/* ПОДСТВЕТКА КНОПОК */
.menu-main_text .current, .menu-main_text a:hover {
  border-radius: 10px;
  background: #f3ece1;
  color: #313131;
}

ul li:first-child {
  margin-left: 20px;
  float: left;
  justify-content: flex-start;
}

/* ul li:last-child {
  justify-content: flex-end;
  margin-right: 15px;
  float: right;
} */